
    .mauticform_wrapper,
    .mauticform_wrapper *{
      font-family: $font-family;
    }

    .mauticform_wrapper{
      background-color: $wrapper-background-color !important;
      color: $wrapper-text-color !important;
      padding: $wrapper-padding !important;
    }

    .mauticform-row{
      padding: $row_padding !important;
      margin: $row_padding !important;
    }

    .mauticform-label{
      color: $label-color !important;
      font-weight: $label_weight !important;
      margin-bottom: 5px !important;
    }

    .mauticform-input,
    .mauticform-textarea,
    .mauticform-selectbox {
        border: none !important;
        width: 100% !important;
        -moz-border-radius: 0 !important;
        -webkit-border-radius: 0 !important;
        border-radius: 0 !important;
        font-size: 16px !important;
        color: $input-text-color !important;
        padding: 16px !important;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .mauticform-selectbox{
      vertical-align: middle;
      height: 50px;
      line-height: 50px;
    }

    .mauticform-button {
        background-color: $btn-background-color !important;
        color: $btn-text-color !important;
        margin: 8px auto 0 !important;
        cursor: pointer;
        font-size: 20px;
        font-weight: 500;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        padding: 6px 20px !important;
        line-height: 1.7em;
        background: transparent;
        border: 2px solid;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -moz-transition: all 0.2s;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        width: 100%
    }
    .mauticform-button:hover {
        background-color: $btn-hover-background-color !important;
        color: $btn-hover-text-color !important;
        padding: 6px 20px !important;
    }
    .mauticform-errormsg{
      color: $error-label-color !important;
      font-weight: bold;
    }
